# Compiled Object files
*.slo
*.lo
*.o
*.d
*.bin
*.hex
*.out
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Stuff specific to Visual Studio
*.sln
*.sdf
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.tlog
*.pdb
*.idb
*.pch
*.log
*.rc
*.cache
*.lastbuildstate
*.manifest
*.res
stdafx.h
targetver.h
stdafx.cpp
ReadMe.txt
OpenCVOfficialTest/Debug/
OpenCVOfficialTest/ipch/
